@import url('modern-normolize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none outside none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
}

h1, h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #000000;
}

body {
  margin: 16px;
  font-family: "Montserrat", 'Segoe UI', 'Open Sans','Helvetica Neue', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #2E2F42;
  line-height: 1.5;
  font-size: 16px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery .gallery-item {
  transition: transform 0.3s ease-out;
}

.gallery .gallery-item .gallery-image {
  height: 200px;
  max-width: 100%;
}

.gallery .gallery-item:hover {
  transform: scale(1.1);
}
