@import url('modern-normolize.min.css');

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none outside none;
}

body {
  padding: 24px;
  margin: 0;
  font-family: 'Segoe UI', 'Open Sans','Helvetica Neue', Arial, sans-serif;
}

.container {
  max-width: 1176px;
  min-width: 320px;
  padding: 0 24px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery .gallery-item {
  transition: transform 0.3s ease-out;
  flex-basis: 360px;
}

.gallery .gallery-item:hover {
  transform: scale(1.05);
}

.lightbox {
  background-color: rgba(46, 47, 66, 0.8);
}
